[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}

#article .word {
	font-weight: bold;
}

#article .word .cyr {
	font-weight: normal;
}

#article .jumpto {

}